*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


.sectionA{
    color:white;
    background-color: #1F2937;
    
}

.header{
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 7rem;
    
}

.logo{
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}



ul{
    list-style: none;
    margin: 0;
    padding:0;
    display: flex;
    gap:1.5rem;

}
a{
    text-decoration: none;
    color: white;
}

.heroSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 150px;
    flex: none; 
   

}
.heroTitle{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    
}

.heroText{
    max-width: 450px;
}

.heroSecondary{
    font-size: 18px;
    color:#E5E7EB;
    max-width: 450px;
    
}

.heroSecondary button{
    background-color: #3882F6;
    border: none;
    border-radius: 10px;
    width: 120px;
    height: 40px;
    color: white;
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 100px;
}

.heroImage{
    background-color: #6D747D;
    color: #FFFFFF;
    width: 480px;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    font-size: 18px;
}

.sectionTitle{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.sectionB{
    margin-bottom: 60px;
}
.imageSection{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.imagePlaceholder{
    border:#3882F6 solid;
    width: 180px;
    height: 180px;
    border-radius: 20px;
    margin-bottom: 10px;

}

.imageSubtext{
    text-align: center;
    max-width: 165px;
    color: #4B5563;
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;

}

.sectionC{
    background-color: #E5E7EB;
}

.quotePlaceholder{
    padding-top: 100px;
    padding-bottom: 100px;
}

.quoteContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quoteText{
    font-size: 36px;
    color: #1F2937;
    font-weight:300;
    max-width: 800px;
}

.from{
    color: #2B3542;
    font-size: 23px;
    font-weight: 900;
    padding-left: 600px;

}

.sectionD{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
}

.blueBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    width: 1000px;
    height: 150px;
    border-radius: 15px;
}

.boxText{
    
    display: flex;
    flex-direction: column;
    
    
    color: #FFFFFF;
    font-size: 16px;

}

.boxText .mainText{
    font-size: 24px;
    font-weight: bold;
}

.blueBox .boxButton{
    background-color:#3882F6;
    border: 2px solid #FFFFFF;
    text-align: center;
    color: white;
    cursor: pointer;
    width: 130px;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;

}

.footer{
    background-color: #1F2937;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerMessage{
    color: white;
    font-size: 18px;

}